name: Frequent Contribution

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          clean: true

      - name: Update JSON file
        run: |
          current_date=$(date)
          if [ -f contributions.json ]; then
            jq --arg name "psycho237-prog" --arg date "$current_date" \
            '. += [{"name": $name, "date": $date}]' contributions.json > contributions_temp.json
            mv contributions_temp.json contributions.json
          else
            echo '[{"name": "psycho237-prog", "date": "'$current_date'"}]' > contributions.json
          fi
        
      - name: Configure Git
        run: |
          git config --global user.email "gregoirelegrandpsycho@gmail.com"
          git config --global user.name "psycho237-prog"

      - name: Commit and push changes
        run: |
          git add contributions.json
          git commit -m "Frequent contribution update" || echo "No changes to commit"
          git push

